<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new chat record</h1>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="Who are you?"> <br><br>
        <textarea name="msg" placeholder="Write your message here..."></textarea> <br><br>
        <input type="text" placeholder="Who recieved the message?" name="to"><br><br>
        <button>create record</button>
    </form>
</body>
</html>