<% layout('/layouts/boilerplate.ejs') %> 
<body>


  <style>

    #filters {
      display: flex;;
    }
    .filter{
      margin-top: 1rem;
      text-align: center;
      margin-right: 2rem;
      opacity: 0.7;
    }
    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }
    .filter p {
      font-size: 0.76rem;
    }

  </style>



  <div id="filters" class="d-flex flex-wrap">


    <div class="filter">
      <div>
        <i class="fa-sharp-duotone fa-solid fa-fire"></i> 
      </div>
      <p>Trending</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-sharp-duotone fa-solid fa-bed"></i> 
      </div>
      <p>Rooms</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-sharp-duotone fa-solid fa-mountain-city"></i> 
      </div>
      <p>Iconinc Cities</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-solid fa-mountain-sun"></i>
      </div>
      <p>Mountains</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-brands fa-fort-awesome"></i>
      </div>
      <p>Castles</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-solid fa-person-swimming"></i>
      </div>
      <p>Amazing Pools</p>
    </div>

    <div class="filter">
      <div>
       <i class="fa-solid fa-campground"></i>
      </div>
      <p>Camping</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-solid fa-cow"></i>
      </div>
      <p>Farms</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-solid fa-snowflake"></i>
      </div>
      <p>Arctic</p>
    </div>
  </div>
    <!-- <h1>Listings</h1> -->
    <!-- <form action="/listings/new" method="get">
        <button>Create new listings</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let listing of allListings) { %>  
            <a class="listing-link"  href="/listings/<%= listing._id %>">
            <div class="card col listing-card" >
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listings_image" style="height: 20rem;">
                <div class="card-img-overlay">
                  </div>
                <div class="card-body">
                  <p class="card-text">
                  <b><%= listing.title %></b> <br>
                   &#8377;<%= listing.price.toLocaleString("en-IN") %>
                  </p>
                </div>
              </div>
            </a> 
            <% } %>    
    </div>
   
  
</body>
