<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page has been created for EJS</h1>
    <h3>2 + 1 = <%= 2 + 1%></h3>
    <button>Click me.</button>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero atque fuga dolorem error laborum dolor illo reprehenderit quae, et magnam esse voluptatem facilis eligendi quod aliquam maiores, at doloremque nostrum!</p>
</body>
</html>