<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit post</h2>
    <h4>Username: <%= post.username %> <br>ID: <%= post.id %></h4>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>