#one{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 5px solid black;
    border-radius: 50%;
}
#two{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 5px solid black;
    border-radius: 50%;
}
#three{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 5px solid black;
    border-radius: 50%;
}