.card{
    width: 100px;
    height: 100%;
    display: inline-block;
    border: solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    transition: 1s;
}
.card:hover{
    box-shadow: black 10px 10px 10px 10px ;
    
}
img{
    background-size: contain;
    width: 100%;
}

